/* Estilo do menu */
#jv-menu {
    position: fixed;
    width: 290px;
    background: #87039c;
    color: #ff24b5;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #00FF00;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999;
    max-width: 100%;
    box-sizing: border-box;
}

#jv-menu img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #00FF00;
    margin-right: 10px;
}

#jv-menu h3 {
    margin: 0;
    font-size: 18px;
    color: white;
}

#jv-menu .chance {
    color: #00FF00;
    font-weight: bold;
}

#jv-menu .colorIndicator {
    font-size: 18px;
}

#jv-menu #winMessage {
    color: #FFFf;
    font-weight: bold;
    display: none;
}
